{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4 class="article-content">{{ error }}</h4>
        </div>
    </article>
{% endblock content %}